* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(41, 41, 41);
}

#wrapper {
  display: flex;
  justify-content: center;
}

canvas {
  background-color: rgb(214, 214, 214);
}

#lb {
  position: absolute;
  right: 0;
  margin: 25px;
}

#lb span.score {
  float: right;
  margin-left: 10px;
}

.me {
  color: blue;
}
